{% extends 'base.html' %}

{% block content %}
<style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #242526;
    color: #f0f0f0;
    text-align: left;
  }

  .card {
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #2F3030;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }

  .form-field {
      margin-bottom: 15px;
      width: 380px;
    }

  label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type="file"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #ddd;
  }

  input[type="submit"] {
    width: 380px;
    background-color: #fff;
    color: #333;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
  }

  input[type="submit"]:hover {
    background-color: #555;
  }
</style>

<div class="card">
  <h1>Add New Product</h1>
  <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-field">
        <label for="{{ form.name.id_for_label }}">Product Name:</label>
        {{ form.name }}
      </div>
      <div class="form-field">
        <label for="{{ form.image.id_for_label }}">Product Image:</label>
        {{ form.image }}
      </div>
      <div class="form-field">
        <label for="{{ form.price.id_for_label }}">Price:</label>
        {{ form.price }}
      </div>
      <div class="form-field">
        <label for="{{ form.description.id_for_label }}">Description:</label>
        {{ form.description }}
      </div>
      <div class="form-field">
        <label for="{{ form.amount.id_for_label }}">Stock Amount:</label>
        {{ form.amount }}
      </div>
      <div class="form-field">
        <input type="submit" value="Add Product" />
      </div>
  </form>
</div>

{% endblock %}
