<!DOCTYPE html>
<html>
<head>
  <title>Tedskinventory</title>
  <style>
    h1 {
      font-size: 36px;
      color: #000000; 
      text-align: center; 
    }

    h3 {
      font-size: 24px;
      color: #000000; 
      text-align: center;
    }

    h5 {
      font-size: 18px;
      color: #000000;
    }

    .card {
      width: 300px;
      margin: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 10px;
      text-align: left;
      display: inline-block;
      vertical-align: top;
    }
  </style>
</head>
<body>
    <h1>Selamat Datang Di Tedskinventory</h1>

    <h3>Website Inventaris Baju Local Pride Idaman Kamu</h3>

    {% for product in products %}
    <div class="card">
      <h5>{{ product.name }}</h5>
      <p>Harga: {{ product.price }}</p>
      <p>Deskripsi: {{ product.description }}</p>
      <p>Jumlah Stok: {{ product.amount }}</p>
    </div>
    {% endfor %}
</body>
</html>
